.groupintro {
    background-color: #2A1F2D;
    padding-top: 60px;
    padding-bottom: 30px;
}

.groupintro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.groupintro img {
    height: 350px;
}

.groupintro .quote {
    text-align: center;
}
.groupintro .quote img {
    height: 100px;
    padding: 0px;
    margin: 0px;
}

.groupintro p {
    width: 400px;
    height: 200px;
    margin-left: 50px;
    color: white;
    font-weight: 500;
    font-size: 2em;
    text-align: left;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.intromessage {
    text-align: center;
    padding-top: 10px;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 2.2em;
}

h2 {
    color: white;
    font-weight: 700;
    font-size: 2em;
    margin: 0px;
}

h3 {
    color: white;
}

h4 {
    color: white;
    font-size: 1.3em;
}

h5 {
    font-size: 1.5em;
    margin: auto;
    width: 800px;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 400;
}

p {
    font-size: 1em;
    color: white;
}

.subtitle {
    font-size: 0.8em;
    color: white;
    margin-top: 0px;
}

.caption {
    font-size: 0.7em;
    color: rgb(202, 202, 202);
    margin-top: 0px;
}

.contentimage {
    width: auto;
    height: 250px;
    border-radius: 10px;
    border: 3px solid white;
}

.content {
    width: 60%;
    margin-left: 20%; 
    margin-right: 20%;
    background-color: #2A1F2D;
    padding: 20px 30px 20px 30px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: -2.5px 2.5px 1px #2A1F2D;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 30px;
    align-items: center;
}

button {
    font-size: 1.2em;
    margin-left: 30px;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    background-color: #5B6C5D;
    box-shadow: 1.5px 1.5px 5px black;
}

button:hover {
    cursor: pointer;
}
